.container {
  width: 100%;
}

#cookieAdder {
  background-image: linear-gradient(
    to bottom,
    rgb(239, 234, 233),
    rgb(250, 128, 114)
  );
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  border-right: 1px solid #888787;
  border-bottom: 1px solid #888787;
  border-left: 1px solid #888787;
  border-top: none;
}

#cookieAdder fieldset {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
  align-items: center;
}

#cookieAdder input {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

#cookieAdder input[type="text"],
#cookieAdder input[type="number"] {
  width: 80px;
  height: 20px;
}

#cookieAdder label {
  text-align: right;
  font-size: 10px;
  font-weight: bolder;
}

header h1 {
  background-color: #111111;
  color: #fa8072;
  font-family: righteous;
  font-size: 30px;
  padding: 1em;
  position: relative;
  text-align: center;
}

header nav {
  background-color: #fa8072;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

header .links ul {
  list-style: none;
  text-align: left;
  padding-bottom: 10px;
}

header .links li {
  display: inline;
  margin-right: 25px;
}

header .links a {
  color: black;
  text-decoration: none;
}

footer {
  background-color: #cccccc;
  color: #0a0a0a;
  display: flex;
  text-align: center;
  width: 100%;
  position: relative;
  padding-top: 10px;
  bottom: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border: 1px solid #888787;
  margin: 3em;
  max-width: 100%;
}

thead th {
  background-color: #808080;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  width: 100%;
}

td {
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
  border: 1px solid #333;
}
tbody {
  border-collapse: collapse;
  background-color: #fa8072;
  width: 100%;
}

tfoot td {
  border-collapse: collapse;
  background-color: #808080;
  color: #fff;
  width: 100%;
}

.store {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 20px;
}

.store h2 {
  font-family: righteous;
  font-size: larger;
}

.store ul {
  margin-left: 20px;
}

.store li {
  padding: 0.2em;
}

.salmon {
  max-width: 100%;
  height: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
