header h1 {
  background-color:#111111 ;
  color: #fa8072;
  font-family: righteous;
  padding: 1em;
  position: relative;
  text-align: center;
}

header nav {
  background-color: #fa8072;

}

header .links ul {
  list-style: none;
  text-align: left;

}

header .links li {
  display: inline;
  margin-right: 25px;

}

header .links a {
  color: black;
}

footer {
  background-color: #cccccc;
  bottom: 0;
  color: #0a0a0a;
  position: absolute;
  text-align: center;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #888787;
  margin: 20px 0;

}

thead th {
  background-color: #808080;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

td {
  text-align: center;
  padding: 5px;
  border: 1px solid #333;
}

tfoot td {
  background-color: #808080;


}

