.container {
  width: 100%;
}

#cookieAdder {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#cookieAdder fieldset {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}


#cookieAdder input {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#cookieAdder label {
  text-align: right;
  font-size: 14px;
/* border: solid red 5px; */
}


header h1 {
  background-color: #111111;
  color: #fa8072;
  font-family: righteous;
  font-size: 30px;
  padding: 1em;
  position: relative;
  text-align: center;
}

header nav {
  background-color: #fa8072;
}

img {
  display: block;
  margin: 0 auto;
}

header .links ul {
  list-style: none;
  text-align: left;
}

header .links li {
  display: inline;
  margin-right: 25px;
}

header .links a {
  color: black;
  text-decoration: none;
}

footer {
  background-color: #cccccc;
  color: #0a0a0a;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

main {
  padding-bottom: 20px;
}


table {
  border-collapse: collapse;
  border: 1px solid #888787;
  margin: 20px 0;
  width: 100%;
}

thead th {
  background-color: #808080;
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  width: 100%;
}

td {
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
  border: 1px solid #333;
}
tbody {
  border-collapse: collapse;
  background-color: #fa8072;
  width: 100%;
}

tfoot td {
  border-collapse: collapse;
  background-color: #808080;
  color: #fff;
  width: 100%;
}

.store {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.store h2 {
  font-family: righteous;
  font-size: larger;
}

.store ul {
  margin-left: 20px;
}

.store li {
  padding: 0.2em;
}
